<ion-header>
  <ion-toolbar>
    <ion-title>Exercicio1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text color="black">
    <h3>A jornada de trabalho semanal de um funcionário é de 40 horas. O funcionário que trabalhar mais de 40 horas receberá hora extra, cujo cálculo é o valor da hora regular com um acréscimo de 50%. Algoritmo, usando Ionic, que o usuário digita o número de horas trabalhadas em um mês, o salário por hora e escreva o salário total do funcionário, que deverá ser acrescido das horas extras, caso tenham sido trabalhadas (considere que o mês possua 4 semanas exatas).</h3>
  </ion-text>

  <ion-item>
    <ion-label position="floating">Digite quantas horas você trabalhou no mês</ion-label>
    <ion-input type="number" [(ngModel)]="horas"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Digite o valor de cada hora sua trabalhada</ion-label>
    <ion-input type="number" [(ngModel)]="vlrHr"></ion-input>
  </ion-item>

  <ion-button (click)="calcular()" color="warning" shape="round">Calcular
  </ion-button>

  <ion-text color="black">
    <h3 *ngIf="salario">Você ganha por hora de serviço R$ {{vlrHr}}, foram {{horas}} horas no mês de trabalho, então seu salário é R$ {{salario}} !!!</h3>
  </ion-text>

  <ion-fab-button [routerLink]="'/home'" expand="block" shape="round">
    Voltar
  </ion-fab-button>
  
</ion-content>
